@using System.Web.Helpers
@model ICollection<ContosoUniversity.Areas.DepartmentCourses.Data.CoursesPerDepartment>
@{
    ViewBag.Title = "Department Courses";
    Layout = "~/Areas/DepartmentCourses/Views/Shared/_Layout.cshtml";
}

<h2>Department Courses</h2>


